.faq,
.faq *,
.faq *::before,
.faq *::after {
  box-sizing: border-box;
}

.faq {
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 0;
}

.faq__title__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq__title__wrapper-before,
.faq__title__wrapper-after {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #ededed;
  text-align: center;
}

.faq__title {
  display: inline-block;
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  color: #111;
  padding: 0 7px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: -2px;
}

/* Rewrote WordPress styles */
.faq__title:before {
  display: none;
}

.faq__question-title {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 80px;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 10px 60px 10px 70px;
  border: 1px solid #ededed;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #111;
  text-transform: uppercase;
  letter-spacing: 0;
  padding-right: 60px;
}

.faq__question-img {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(img/help.svg);
  background-size: 30px 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #2f2f2f;
  display: inline-block;
  min-width: 55px;
  height: 100%;
  border-bottom: 3px solid #44c800;
}

.faq__question-answer {
  margin-top: 10px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #333;
  padding: 20px 18px;
  background-color: #fff;
  border: 1px solid #ededed;
  overflow: hidden;
}

@media (max-width: 767px) {
  .faq__title {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 0;
    min-width: 270px;
  }
  
  .faq__question-title {
    margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
    padding-left: 45px;
    padding-right: 35px;
  }

  .faq__question-img {
    background-size: 20px 20px;
    min-width: 30px;
  }

  .faq__question-answer {
    margin-top: 5px;
    font-size: 14px;
    padding: 15px;
  }
}